[submodule "vendor/goproxy"]
	path = vendor/goproxy
	url = https://github.com/elazarl/goproxy.git
[submodule "vendor/github.com/elazarl/goproxy"]
	path = vendor/github.com/elazarl/goproxy
	url = https://github.com/elazarl/goproxy.git
[submodule "vendor/github.com/huichen/sego"]
	path = vendor/github.com/huichen/sego
	url = https://github.com/huichen/sego.git
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3.git
